{% from "bootstrap5/form.html" import render_form %} {% block content %} {%
    include "header.html" %}
    
    <!-- Page Header -->
    <header
      class="masthead"
      style="background-image: url('https://images.unsplash.com/photo-1584433144859-1fc3ab64a957?q=80&w=1930&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')"
    >
    
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="page-heading">
                {% if msg_sent: %}
                <h1 style="color: red;">Successfully changed your password</h1>
                  <script>
                    function redirectToHomePage() {
                      setTimeout(function () {
                        window.location.href = "{{  url_for('home')  }}";
                      }, 3000);  // 3000 milliseconds (3 seconds) delay
                    }
                  </script>
                  <script>
                      redirectToHomePage();  // Call the JavaScript function for redirection
                   </script>
                {% else: %}
                <h1>Reset Password</h1>
                {% endif %}
              <span class="subheading">Forgot your password? Reset it!</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <main class="mb-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <p style="font-size: 25px; color: red;">{{ message }}</p>
          {% endfor %}
        {% endif %}
        {% endwith %}
            {{ render_form(form) }}
          </div>
        </div>
      </div>
    </main>
    <style>
      .form-control-label{
        margin-bottom: 10px;
        font-size: larger;
      }
      #submit{
        font-size: 20px;
        margin-top: 10px;
        text-transform: uppercase;
      }
      
    </style>
    {% include "footer.html" %} {% endblock %}
    